.flex-container {
  display: flex;
  flex-direction: row;
  font-family: 'Mulish', sans-serif;
  font-size: larger;
  
}

.flex-left {
  display: flex;
  width: 75%;
  flex-wrap: wrap;

}

.flex-right {
  display: flex;
  width: 25%;
  margin: 1em;
}
