.socials {
  color: white;
  background-color: #46667D;
  text-align: right;
}

h2 {
  color: white;
  background-color: #118C7A;
  text-align: left;
  font-family: 'Mulish', sans-serif;
  padding: 10px;
}

h3 {
  font-family: 'Mulish', sans-serif;
  background-color: #F2F1F1;
}

ul {
  list-style: none;
  display: inline-flex;
  margin: 2px;
}

li {
  margin: 2px;
}



.footer-1 {
  color: white;
  background-color: #46667D;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
 
}

.footer-2 {
  background-color: #F2F1F1;
  font-family: 'Mulish', sans-serif;
  color: #5D5C61;
  padding: 10px;
}
