.book__title {
  outline-style: solid;
  margin: 20px;
  padding: 10px;
}

.btn {
  background-color: #F2F1F1;
  color: #333333;
  padding: 5px 20px;
  font-size: 14px!important;
  font-weight: 500!important;
  text-decoration: none;
  border-radius: 30px;
  font-family: 'Mulish', sans-serif;
}
