@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: #F2F1F1;
  list-style-type: none;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #46667D;
  color: white;
}

.navbar__item {
  flex-basis: 20%;
 
}

.nav-link {
  color: #565652;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}
